/* static/style/css */

body {
    background-color: rgb(177, 152, 196);
    font-family: sans-serif;
    justify-content: center;
}

h1 {
    color: black;
}

pre {
    width: 1200px;
    white-space: pre-wrap;
    overflow-x: auto;
}

