/* static/style/css */

body {
    background-color: rgb(233, 219, 243);
    font-family: sans-serif;
    justify-content: center;
}

h1 {
    color: black;
    font-size: medium;
}

pre {
    width: 1200px;
    white-space: pre-wrap;
    overflow-x: auto;
}

